{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
{% endblock %}
{% block body %}
	<div class="search">
		<form>
			<label for="name">Name:</label>
			<input type="text">
			<label for="type">Type 1:
			</label>
			<input type="text">
			<label for="type2">Type 2:
			</label>
			<input type="text2">
		</form>
	</div>
	<div id="app">
		{% for pokemon in pokemons %}
			<div class="card {{pokemon[0].types[0]}} {{pokemon[0].types[1]}}" v-show="!togglePokemon">
				<div class="card-body">
					<h3 class="card-title">{{ pokemon[0].name|capitalize }}</h3>

				</div>
				<img @click="toggle()" card-img-top src="{{url}}/other/showdown/{{pokemon[0].id}}.gif">

			</div>
		{% endfor %}
		<div v-show="togglePokemon">
			<img src="{{url}}/other/official-artwork/{{pokemons[0][0].id}}.png">
		</div>
	</div>
{% endblock %}
