{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
{% endblock %}
{% block body %}
	{% set pokemonIndex = 0 %}
	<div class="search">
		{{form(form)}}
		</div>
		<div id="app">
			{% for pokemon in pokemons %}
				<div class="card {{pokemon[0].types[0]}} {{pokemon[0].types[1]}}" lazy>
					<div class="card-body">
						<h3 class="card-title">{{ pokemon[0].name|capitalize }}</h3>

					</div>
					<a href="/{{pokemon[0].id}}"><img card-img-top src="{{getUrl(pokemon[0].id,url)}}"></a>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
